<div class="container">
  <div class="span12">
    <form action="/form" method="post">
      <input type="text" id="origin" name="origin" placeholder="Starting location">
      <input type="text" id="destination" name="destination" placeholder="Ending location">
      <input type="submit" class='btn btn-primary'>
    </form>
  </div>

  <div class="span12">
    <input type="text" id="user" name="user" placeholder="username">
    <a class="/edit_user">Add or Edit Users / Addresses</a>
  </div>
  <div class="span12">
    <div id="user_addresses">
    </div>
  </div>

</div>

