
<div class="row">
  <div class="span12">
    <form action="/form" method="post">
      <input type="text" name="origin" placeholder="Starting location">
      <input type="text" name="destination" placeholder="Ending location">
      <input type="submit" class='btn btn-primary'>
    </form>
  </div>
</div>

<div class="row">
  <div class="span12">
    <input type="text" id="user" name="user">
    <a class="/edit_user">Add or Edit Users / Addresses</a>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div id="user_textbox_status">
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div id="user_addresses_origin">
    </div>
    <div id="user_addresses_destination">
    </div>
  </div>
</div>


