<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Drive or Bart</title>
  <link href="/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="hero-unit">
      <h1><a href="/">Bart vs Drive</a></h1>
      <p>...or else</p>
    </div>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>