<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Bart or Drive</title>
  <link href="/bootstrap.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="bart_or_drive.js"></script>
</head>
<body>
  <div class="container">
    <div class="hero-unit">
      <h1><a href="/">Bart or Drive</a></h1>
      <p>abolition of commuter indecision since 2012</p>
    </div>

  <div id="main" class="row">
    <%= yield %>
  </div>

	<div id="footer" class"row">
		<br>
		<hr>
		<p>dedicated to the fallen members of the group who were taken from us too early.</p>
	
	</div>
</div>



</body>
</html>